extends layout

block content
  h1 My todos
  form(action="/todo", method="post")
    label(for="name") Name 
    input(type="search", name="name", id="input-name")
    br
    label(for="task") Task         
    input(type="search", name="task", id="input-task")
    br
    input(type="submit", value="Submit", id="submit-data")
